# Sets in python

In [ ]:
In Python, a set is an unordered, mutable collection of unique elements.
Sets are useful when you need to store items without duplicates and 
don’t care about their order.

In [ ]:
Python sets can only contain hashable (immutable) elements, like numbers, strings, or tuples.

Lists are mutable → unhashable → cannot exist inside a set.

In [ ]:
s = { [1,2] }

In [3]:
s = { (1,2), (3,4) }

In [ ]:
unordered
unique
mutable
# creating

In [3]:
a={1,'amit',1}
print(a)

{1, 'amit'}

In [5]:
s=set()
type(s)

set

In [3]:
a=set()
type(a)

set

In [4]:
s={1}
s1={'rahul'}
print(s1)
print(type(s))

{'rahul'}
<class 'set'>

In [7]:
s={1,'abhi',True,0,False}
s

{0, 1, 'abhi'}

In [8]:
s={} #wrong
print(type(s))
s=set() #empty set
print(type(s))

<class 'dict'>
<class 'set'>

In [10]:
s={1,2,3}
s2={1,'amit',4.5,2,2,3,3,(1,2,3),['amit','sahil']}
s3={1,True}   # 1
s = {1, True, 0, False}
print(s)

TypeError: unhashable type: 'list'

# convert list to set and tuple to set

In [11]:
s=set([1,2,3,4,5,2,3,2])
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# sets are used to remove duplicate

In [12]:
s4=set([1,2,3,4,1,2,3])
print(s4)

{1, 2, 3, 4}

# operators

In [ ]:
# element comparision

In [13]:
# how sets handle equality, membership, and comparisons.
#In a set, elements are unique and unordered
#equality/comparison between sets is based on their elements, not their order.
s1 = {1, 2, 3,4}
s2 = {3, 2, 1}

print(s1 == s2)

False

In [14]:
l1=[1,2,3]
l2=[2,3,1]
l1==l2

False

# in list

In [15]:
a = [2, 2,1,3,0]         #element by element, from left to right
b = [2, 2,1,3]   # after that compare by length
print(a>b)          # if same then continue
#b>a

True

In [ ]:
<= → subset operator

< → proper subset (means subset but not equal)

And their opposites:

>= → superset (proper superset and can be equal)

> → proper superset( canot be equal)

In [ ]:
proper subset (<) and proper superset (>)
a < b
Checks if all elements of a are in b AND a != b
b > a
Checks if all elements of a are in b AND a != b, 
but from the perspective of b being bigger.

In [16]:
a = {1, 2}
b = {1, 2}  # can contain more element in a<b
                # 
print(a <= b)   # True (a is a proper subset if every element of A is  in B.)
print(b > a)   # True (b is a proper superset  because b contain all element of a).

True
False

In [17]:
a = {1, 2}
b = {1, 2}  # can contain more element in a<b
                # 
print(a < b)   # True (a is a proper subset if every element of A is  in B.)
print(b > a)   # True (b is a proper superset  because b contain all element of a).

False
False

# membership

In [18]:
s = {1, 2, 3}
print(2 in s)      # True
print(5 not in s)  # True

True
True

In [ ]:
# accessing (not possible)

In [ ]:
indexing
slicing
editing

In [19]:
s1 = {1, 2, 3}
s[0] #indexing not support

TypeError: 'set' object is not subscriptable

In [20]:
my_set = {10, 20, 30, 40, 50}
for item in my_set:
    print(item)

50
20
40
10
30

In [21]:
#converting into list
my_list = list(my_set)
print(my_list[0])

50

# adding

In [ ]:
a=int(input("enter any number :"))
sum=0

while a>0 :

In [ ]:
add  #single element
update # multiple element

In [22]:
A = {1, 2, 3}
A.add(4)
print(A)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [23]:
A.add(2) # already exist
print(A)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [24]:
#from another set, list, or tuple).
A = {1, 2, 3}
B = {3, 4, 5}
A.update(B)
print(A)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [25]:
A.update([4, 5], {6, 7})
print(A)

{1, 2, 3, 4, 5, 6, 7}

# delete( fully)

In [26]:
A

{1, 2, 3, 4, 5, 6, 7}

In [27]:
del s

In [ ]:
#You can remove elements with .remove(), .discard(), or .pop()

In [ ]:
#Removes a specific element.#If the element doesn’t exist → raises an error (KeyError).
#discard # doen not raise error

In [28]:
A.discard(9)

In [29]:
A

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#Removes a specific element.
#If the element doesn’t exist → raises an error (KeyError).

In [30]:
A.remove(9)
A

KeyError: 9

In [31]:
A

{1, 2, 3, 4, 5, 6, 7}

In [32]:
A.pop() # randomly delete 
A

{2, 3, 4, 5, 6, 7}

In [33]:
deleted=A.pop() # randomly delete 
print(deleted)
print(A)

2
{3, 4, 5, 6, 7}

In [36]:
A.clear()
del A

NameError: name 'A' is not defined

In [37]:
s = {1, 2, 3}
lst = [2, 3]

print(set(lst) <= s)

True

In [38]:
s = { (1,2), (3,4) }
print((2,3) in s)  # False
print((1,2) in s)  # True

False
True

# operation

In [ ]:
# UNION and | operator 
#All elements from both sets, no duplicates.

In [39]:
# Method 1: union() method
A = {1, 2, 3,10}
B = {3, 4, 5}
C = A.union(B)
print(C)  # Output: {1, 2, 3, 4, 5}
print(A)

{1, 2, 3, 4, 5, 10}
{3, 1, 10, 2}

In [40]:
# Method 2: | operator
C = A | B
print(C)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 10}

In [ ]:
# Intersection (common element)

In [41]:
A = {1, 2, 3}
B = {3, 4, 5}
C = A.intersection(B)
print(C)  # Output: {3}


C = A & B
print(C)  # Output: {3}

{3}
{3}

In [42]:
Checking if a string is present
fruits = {"apple", "banana", "cherry"}

# Check if "banana" is present
if "banana" in fruits:
    print("banana is present")
else:
    print("banana is not present")

SyntaxError: expected 'else' after 'if' expression (2320511888.py, line 1)

In [43]:
fruits = {"apple", "banana", "cherry"}

# Items to check
check_items = { "grape"}

# Use intersection
found = fruits & check_items  # or fruits.intersection(check_items) #{}

if found: #false
    print("Found:", found)
else:
    print("No items found")

No items found

In [ ]:
# Difference (Elements in A but not in B.)

In [44]:
A = {1, 2, 3}
B = {3, 4, 5}
C = A.difference(B)
print(C)  # Output: {1, 2}

C = A - B
print(C)  # Output: {1, 2}

{1, 2}
{1, 2}

In [45]:
# Create two sets
fruits = {"apple", "banana", "cherry"}
check_items = {"banana", "grape"}

# Empty set to store results
difference = set()

# Loop through fruits
for item in fruits:
    if item not in check_items:   # check if the item is NOT in the second set
        difference.add(item)

print("Items in fruits but not in check_items:", difference)

Items in fruits but not in check_items: {'cherry', 'apple'}

In [46]:
fruits = {"apple", "banana", "cherry"}
check_items = {"banana", "grape"}

# Find items that are in fruits but NOT in check_items
missing = fruits - check_items  # same as fruits.difference(check_items)

print("Items in fruits but not in check_items:", missing)

Items in fruits but not in check_items: {'cherry', 'apple'}

In [ ]:
# Symmetric Difference(Elements in A or B but not both.)

In [47]:
A = {1, 2, 3}
B = {3, 4, 5}

C = A.symmetric_difference(B)
print(C)  # Output: {1, 2, 4, 5}

# Method 2: ^ operator
C = A ^ B
print(C)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

In [48]:
fruits = {"apple", "banana", "cherry"}
check_items = {"banana", "grape"}

# Symmetric difference using ^
sym_diff = fruits ^ check_items  # same as fruits.symmetric_difference(check_items)

print("Symmetric Difference:", sym_diff)

Symmetric Difference: {'apple', 'cherry', 'grape'}

In [49]:
fruits = {"apple", "banana", "cherry"}
check_items = {"banana", "grape"}

sym_diff = set()

# Items in fruits but not in check_items
for item in fruits:
    if item not in check_items:
        sym_diff.add(item)

# Items in check_items but not in fruits
for item in check_items:
    if item not in fruits:
        sym_diff.add(item)

print("Symmetric Difference (using loop):", sym_diff)

Symmetric Difference (using loop): {'grape', 'cherry', 'apple'}

# permanent change in itself

In [50]:
A = {1, 2, 3}
B = {3, 4, 5}
C = A.union(B)
print(C)  # Output: {1, 2, 3, 4, 5}
print(A)
A.update(B)
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5}

In [51]:
A = {1, 2, 3}
B = {3, 4, 5}
C = A.intersection(B)
print(C)  # Output: {3}
print(A)
A.intersection_update(B)
print(A)

{3}
{1, 2, 3}
{3}

In [52]:
A = {1, 2, 3}
B = {3, 4, 5}
C = A.difference(B)
print(C)  # Output: {1, 2}
print(A)
A.difference_update(B)
print(A)

{1, 2}
{1, 2, 3}
{1, 2}

In [53]:
A = {1, 2, 3}
B = {3, 4, 5}

C = A.symmetric_difference(B)
print(C)  # Output: {1, 2, 4, 5}
print(A)
A.symmetric_difference_update(B)
print(A)

{1, 2, 4, 5}
{1, 2, 3}
{1, 2, 4, 5}

In [ ]:
A is strictly contained in B,or can be equal

In [2]:
A = {1, 2}
B = {7, 2}
print(A>B)
print(A.issubset(B))  # True
print(B.issubset(A))  # False

False
False
False

In [55]:
# Example 1: A is strictly contained in B
A = {1, 2}
B = {1, 2, 3}
print(A.issubset(B))  # True

# Example 2: A is equal to B
A = {1, 2, 3}
B = {1, 2, 3}
print(A.issubset(B))  # True

# Example 3: A is not a subset of B
A = {1, 4}
B = {1, 2, 3}
print(A.issubset(B))  # False

True
True
False

In [ ]:
# is disjoint

In [56]:
# check all element are same or different
True--->different
False---->atleast one is common

SyntaxError: invalid syntax (725093815.py, line 2)

In [57]:
A = {1, 2, 3}
B = {4, 5, 6}
C = {3, 4, 5}

print(A.isdisjoint(B))  # True, elements are diff
print(A.isdisjoint(C))  # False, 3 is common

True
False

In [ ]:
# copy

In [ ]:
copying a set creates a new set with the same elements.

In [58]:
A = {1, 2, 3}
B = A.copy()  # Creates a new set with the same elements

print("previous B",B)  # Output: {1, 2, 3}

# Modifying B does NOT affect A
B.add(4)
print("after update B",B)  # Output: {1, 2, 3}
print("no effect on A",A)  # Output: {1, 2, 3, 4}

previous B {1, 2, 3}
after update B {1, 2, 3, 4}
no effect on A {1, 2, 3}

In [8]:
a={1,2,3}
b=a.copy()
print(id(a),id(b))
# b.add(5)
# print(b)
# print(a)

2696582784928 2696582784704