# Tuple in python

In [ ]:
#immutable
#ordered
#unchangeble
#allow duplicate
#haterogeneous

# creating tuple

In [1]:
t=()

In [2]:
t1=()  
print(type(t1))

<class 'tuple'>

In [3]:
t2=(1,) #creating tuple with single element
type(t2)
t3=('string',)
print(type(t3))

<class 'tuple'>

In [4]:
t=1,2,'renu'
type(t)

tuple

In [5]:
t3=1,
type(t3)

t4=()
type(t4)

tuple

In [6]:
t1=(1,2,4,5,'renu')

In [7]:
t=(1,2,3,True,'renu',[1,2,3])
t[5][2]

3

In [8]:
t5[0][1]

NameError: name 't5' is not defined

# type conversion

In [9]:
t6=tuple('hello')
t6

('h', 'e', 'l', 'l', 'o')

In [10]:
t1=(1,2,4,5,'renu')
import pandas as pd
df = pd.DataFrame(t1,columns=['col1'])
print(df)

   col1
0     1
1     2
2     4
3     5
4  renu

# accessing

In [1]:
t = (10, 20, 30, 40)
print(t[0])   # 10
print(t[-1])  # 40 (last element)

10
40

In [ ]:
index
slicing

In [13]:
t = (10, 20, 30, 40, 50)
print(t[1:4])  # (20, 30, 40)
print(t[:3])   # (10, 20, 30)
print(t[::-2])  # (10, 30, 50)

(20, 30, 40)
(10, 20, 30)
(50, 30, 10)

# adding a new tuple

In [ ]:
In Python, tuples are immutable, which means you can’t directly add or remove elements 
once a tuple is created.
However, you can create a new tuple that includes the additional element(s).
#If you need to actually change the contents, convert to a list first.

# 1st method (create another tuple)

In [14]:
#However, you can create a new tuple that includes the additional element(s).
#Using + (concatenation)
t = (1, 2, 3) # check the id
print(id(t))
t = t + (4,)
print(t)  # Output: (1, 2, 3, 4)
print(id(t))

1722529422912
(1, 2, 3, 4)
1722529088352

In [ ]:
# second method (conversion into list)

In [15]:
t1 = (1, 2, 3)
print(id(t1))
temp = list(t1)
temp.append(4)
t1 = tuple(temp)
print(id(t1))
print(t1)         #result store in  new tuple

1722476345536
1722529088032
(1, 2, 3, 4)

# editing

In [16]:
t1=(1,2,3,4,5)
t1[2]=100
t1

TypeError: 'tuple' object does not support item assignment

In [17]:
t= (1, 2, 3, 4)

# Convert to list
l = list(t)
print(l)
# Update an element
l[1] = 20
print(l)

# Convert back to tuple
t1= tuple(l)

print(t1)  # Output: (1, 20, 3, 4)

[1, 2, 3, 4]
[1, 20, 3, 4]
(1, 20, 3, 4)

In [ ]:
#If a tuple contains a mutable object (like a list), you can modify that object.

In [18]:
t= (1, [2, 3], 4)
print(id(t))
print(t[1])
print(t[1][0])
t[1][0]=100
print(t)  # Output: (1, [99, 3], 4)
print(id(t))

1722529572288
[2, 3]
2
(1, [100, 3], 4)
1722529572288

In [19]:
t= (1, [2, 3], 4)
t=(100,)+t[1:]
print(t)

(100, [2, 3], 4)

# nested tuple

In [20]:
t = ((1, 2), (3, 4), (5, 6)) #nested tuple
print(t[1][0])  # 3
print(t[1][1])

3
4

# delete (only fully possible)

In [ ]:
you can’t delete individual elements from a tuple because tuples are immutable —
you can delete the entire tuple using the del statement.

In [21]:
t = (1, 2, 3, 4)
print(t)   # Output: (1, 2, 3, 4)
del t

(1, 2, 3, 4)

# 2nd method to remove certain element (CONVERT INTO LIST)

In [22]:
t = (1, 2, 3, 4)
temp= list(t)

temp.remove(3)
print(temp)
t = tuple(temp)
print(t)  # Output: (1, 2, 4)

[1, 2, 4]
(1, 2, 4)

In [23]:
#slicing
t= (10, 20, 30, 40, 50)

# Replace the 3rd element
t1 = t[:2] + (99,) + t[3:]

print(t1)  # Output: (10, 20, 99, 40, 50)

(10, 20, 99, 40, 50)

# diff between tuple and list

In [ ]:
speed of execution is more in tuple
chances of error is less becouse no modification is happening
list(mutable),tuple(immutable)
list take more memory , while tuple takes less memory

# list mutable

In [25]:
l=[1,2,3]
l1=l
l1.append(4)
print(l1)
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]

# tuple immutable

In [26]:
t=(1,2,3)
t1=t     # no change
t1=t1+(4,)
print(t)
print(t1)

(1, 2, 3)
(1, 2, 3, 4)

# memory comparision

In [28]:
import sys
l=list(range(10000))
t=tuple(range(10000))
print(sys.getsizeof(l)) in bytes
print(sys.getsizeof(t))

80056

TypeError: argument of type 'type' is not iterable

# operation

# concatenate and repeat

In [29]:
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)   # (1, 2, 3, 4)
print(t1 * 3)    # (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [30]:
t1 = (1, 2)
print(id(t1))
t2 = (3, 4)
t1=t1 + t2
print(t1)
print(id(t1))

1722533391552
(1, 2, 3, 4)
1722533493824

# membership

In [31]:
t = (10, 20, 30)
print(20 in t)     # True
print(100 not in t)  # True

True
True

In [32]:
t = (10, 20, 30)
for row in t:
    print(row)

10
20
30

In [33]:
t = (10, 20, 30)
for index,val in enumerate(t):
    print(index,val)

0 10
1 20
2 30

In [34]:
t5=((1,2,3),(4,5,6),(7,8,9))
for row in t5:
    for value in row:
        print(value, end=" ")
    print()

1 2 3
4 5 6
7 8 9

# function

In [36]:
t = (5, 10, 15, 5)

print(len(t))    # 4
print(max(t))    # 15
print(min(t))    # 5
print(sum(t))    # 35
print(t.count(5))  # 2
print(t.index(10)) # 1

4
15
5
35
2
1

# sum

In [37]:
t = (1, 2, 3, 4, 5)
total = sum(t)
print(total)

15

In [38]:
# len() returns the number of elements in the tuple.
t = (1, 2, 3, 4, 5)
length = len(t)
print(length)

5

In [39]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
num_rows = len(matrix)
print(num_rows)

3

In [ ]:
# sorted #return list
# zip
#reverse

In [40]:
#tuple remain unchanged
t = (5, 10, 15, 5) # stored in new list
sorted_tuple=sorted(t)
sorted_tuple
#print(t)

[5, 5, 10, 15]

In [ ]:
sorted_tuple=sorted(t,reverse=True)
sorted_tuple

In [41]:
sorted_t = tuple(sorted(t))
print(sorted_t) # output in tuple

(5, 5, 10, 15)

In [42]:
sorted_desc = tuple(sorted(t, reverse=True))
print(sorted_desc)

(15, 10, 5, 5)

In [43]:
# Sorted alphabetically by default.
names = ('renu', 'ritu', 'yuvaan')
sorted_names = tuple(sorted(names))
print(sorted_names)

('renu', 'ritu', 'yuvaan')

# zip function

In [ ]:
zip() function in Python is used to  pair up elements from two or more iterables
(like lists, tuples, or strings).
Each tuple contains one element from tuple1 and one from tuple2.

In [4]:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')
print(zip(t1, t2))

<zip object at 0x000002020A540A00>

In [45]:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')
#zip(t1, t2)
a=zip(t1,t2)
print(a) # zip object (iterator)
print(list(a)) #reuse ,view the content,indexed
print(list(a))  #Zip Objects Are “Exhausted”

<zip object at 0x000001910F0F2A80>
[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [46]:
#To fix it, store the zipped data in a list before you print or unzip it:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')

zipped = list(zip(t1, t2))  # store the pairs
print(zipped)

print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

In [47]:
a = (1, 2, 3)
b = ('x', 'y', 'z')
c = (True, False, True)

print(list(zip(a, b, c)))

[(1, 'x', True), (2, 'y', False), (3, 'z', True)]

In [48]:
# Unequal Length Tuples
# zip() stops at the shortest one.
a = (1, 2, 3, 4)
b = ('a', 'b')

print(list(zip(a, b)))

[(1, 'a'), (2, 'b')]

# Unzipping (Reverse of Zip)

In [49]:
#use the * operator to unpack the zipped result back into separate tuples.
t1 = (1, 2,3)
t2 = ('a', 'b', 'c')

zipped = list(zip(t1, t2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [50]:
t1,t2=zip(*zipped) # t3 error
print(t1)
print(t2)

(1, 2, 3)
('a', 'b', 'c')

# reverse

In [51]:
t = (1, 2, 3, 4, 5)
#using slicing
reversed_t = t[::-1]
print(reversed_t)

# using reversed function
reversed_t = tuple(reversed(t))
print(reversed_t) #create a new tuple

(5, 4, 3, 2, 1)
(5, 4, 3, 2, 1)

# packing and unpacking

In [52]:
In Python, packing and unpacking 
group multiple values into a single variable (packing) and 
then extract them back into separate variables (unpacking).

# Packing
person = ("Alice", 25, "Engineer")

# Unpacking
name, age, job = person
print(name)  # Alice
print(age)   # 25
print(job)   # Engineer

a, *b = (1, 2, 3, 4)
print(a)  # 1
print(b)  # [2, 3, 4]

#convert list to tuple
t=tuple([1,2,'renu'])
t        

#convert string to tuple
t=tuple("renu")
t

SyntaxError: invalid syntax (2896869631.py, line 1)

# 2d tuple

In [53]:
#2d tuple
import pandas as pd
t5=((1,2,3),(4,5,6),(7,8,9))
df = pd.DataFrame(t5)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [54]:
t5=((1,2,3),(4,5,6),(7,8,9))
for row in t5:
    for value in row:
        print(value, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [55]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

In [56]:
matrix[0] # (1, 2, 3) (the first row)

matrix[0][1] # 2 (row 0, column 1)

2

In [57]:
print(matrix[1])      # (4, 5, 6)
print(matrix[1][2])   # 6
print(matrix[-1][-1]) # 9 (last element)

(4, 5, 6)
6
9

In [58]:
print(matrix[:2])     # ((1, 2, 3), (4, 5, 6))

((1, 2, 3), (4, 5, 6))

# concatinate

In [59]:
You can join two 2D tuples row-wise:
m1 = ((1, 2), (3, 4))
m2 = ((5, 6), (7, 8))
m3 = m1 + m2
print(m3)  # ((1, 2), (3, 4), (5, 6), (7, 8))

SyntaxError: invalid decimal literal (96243017.py, line 1)

# Converting 2D Tuple to List (for modification)

In [60]:
matrix = (
    (1, 2),
    (3, 4)
)
matrix

((1, 2), (3, 4))

In [61]:
temp=[]
for row in matrix:
    temp.append(list(row))
print(temp)    
temp[0][1]=100
print(temp)

[[1, 2], [3, 4]]
[[1, 100], [3, 4]]

# convert back

In [62]:
matrix=() #start with empty tuple
for row in temp:
    matrix = matrix + (tuple(row),)

print(matrix)

((1, 100), (3, 4))

# in 2d

In [63]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

In [64]:
reversed_rows = matrix[::-1]
print(reversed_rows)

((7, 8, 9), (4, 5, 6), (1, 2, 3))

In [65]:
#doing later
reversed_cols = tuple(tuple(row[::-1]) for row in matrix)
print(reversed_cols)

((3, 2, 1), (6, 5, 4), (9, 8, 7))