# For Loop

1.  Order by asc

In [22]:
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

2.  Order by desc

In [23]:
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

3.  Multiplication of table

In [24]:
for i in range(2,21,2) :
    print(i)

2
4
6
8
10
12
14
16
18
20

4.  Multiplication of table With Formating

In [25]:
a=int(input("enter any number :"))
for i in range(1,11) :
    print(f"{a} * {i} = {a*i}")

enter any number : 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

5.  Without Formating

In [26]:
a=int(input("enter number :"))
for i in range(1,11) :
    print(a,"*",i,"=",a*i)

enter number : 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6.   Reverse a string.

In [27]:
text=input("enter your name :")
reversed_text=""

for i in text :
    reversed_text=i+reversed_text

print("reversed your name :", reversed_text)

enter your name : amit

reversed your name : tima

In [29]:
nums=[2,4,6,3,4,33]

for i in nums :
    print(i)

2
4
6
3
4
33

# While Loop

1.  Order by asc

In [2]:
a=1
while a<=5 :
    print(a)
    a+=1

1
2
3
4
5

2.  Order by desc

In [3]:
a=6
while a>=1 :
    print(a)
    a-=1

6
5
4
3
2
1

3.  Multiplication of table ( Without Formating )

In [4]:
a=int(input("enter any number :"))
b=1

while b<=10 :
    print(a,"*",b,"=",a*b)
    b+=1

enter any number : 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

4.  With Formating in While Loop

In [30]:
a=int(input("enter any number :"))
b=1

while b<=10 :
    print(f"{a} * {b} = {a*b}")
    b+=1

enter any number : 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [4]:
count=1
while count<=5:         #100
    print(count,"hello")
    count+=1

1 hello
2 hello
3 hello
4 hello
5 hello

5.  Print the same list

In [5]:
nums=[1,4,9,16,34,76,34,99,108]

a=0
while a<len(nums):
    print(nums[a])
    a+=1

1
4
9
16
34
76
34
99
108

6.  Fetch the specific number of index in list

In [16]:
nums=(1,44,2,67,45,87,23,11,76,19,90)

x=23
i=0

while i<len(nums):
    if (nums[i]==x):
        print("find at idx",i)
    i+=1

find at idx 6

# Module 6

In [2]:
num=int(input("enter any number :"))
sum_of_digit=0

while num > 0 :
    digit = num % 10
    sum_of_digit += digit
    num = num//10

print("sum of digit :",sum_of_digit)

enter any number : 1234

sum of digit : 10

In [ ]:
num = int(input("Enter a number: "))
sum_of_digits = 0

while num > 0:
    digit = num % 10        # get last digit
    sum_of_digits += digit  # add to sum
    num = num // 10         # remove last digit

print("Sum of digits:", sum_of_digits)

In [3]:
num = int(input("Enter a number: "))
reverse = 0

while num > 0:
    digit = num % 10          # get the last digit
    reverse = reverse * 10 + digit  # build the reversed number
    num = num // 10           # remove the last digit

print("Reversed number:", reverse)

Enter a number:  12345

Reversed number: 54321

In [5]:
string = input("Enter a string: ")

letters = 0
digits = 0

for char in string:
    if char.isalpha():      # check if character is a letter
        letters += 1
    elif char.isdigit():    # check if character is a digit
        digits += 1

print("Number of letters:", letters)
print("Number of digits:", digits)

Enter a string:  12 amit amit amit

Number of letters: 12
Number of digits: 2

In [7]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"the factorial of {num} is {factorial}")

Enter a number:  4

the factorial of 4 is 24

In [9]:
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

Enter a number:  9

9 is not a prime number

In [10]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=int(input("enter third number:"))

if (a>=b and b>=c):
    print("a is largest number")
elif (b>=c):
    print("b is largest number")
else:
    print("c is largest number")

enter first number: 2
enter second number: 3
enter third number: 4

c is largest number

In [12]:
# num=int(input("enter any number :"))
for i in range(10,31) :
    if (i%2!=0) :
        print(i,"prime number")

11 prime number
13 prime number
15 prime number
17 prime number
19 prime number
21 prime number
23 prime number
25 prime number
27 prime number
29 prime number

In [16]:
num=int(input("enter a number :"))

if (num % 2 != 0) :
    print(num,"prime number")
else :
    print(num,"not prime number")

enter a number : 3

3 prime number

In [21]:
n = int(input("Enter the number of terms: "))

a, b = 0, 1

print("Fibonacci series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms:  7

Fibonacci series:
0 1 1 2 3 5 8

In [25]:
num = int(input("Enter a number: "))

# Find the number of digits
num_digits = len(str(num))
sum_of_powers = 0
temp = num

while temp > 0:
    digit = temp % 10               # extract last digit
    sum_of_powers += digit ** num_digits  # raise to power of total digits
    temp //= 10                     # remove last digit

if num == sum_of_powers:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  9

9 is an Armstrong number

In [26]:
n = int(input("Enter the number of rows: "))

num = 1
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()  # move to the next line

Enter the number of rows:  7

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [28]:
n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    # print spaces
    print(" " * (n - i), end="")
    # print stars
    print("*" * (2 * i - 1))

Enter the number of rows:  8

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [ ]:
# Strong number checker

from math import factorial

def is_strong_number(n: int) -> bool:
    original = n
    total = 0
    while n > 0:
        digit = n % 10
        total += factorial(digit)   # factorial(0..9) is cheap
        n //= 10
        # small early exit: if total becomes larger than original, you can continue,
        # but not necessary for correctness
    return total == original

# Example usage:
num = int(input("Enter a positive integer: "))
if is_strong_number(num):
    print(f"{num} is a Strong number.")
else:
    print(f"{num} is NOT a Strong number.")

In [1]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

In [42]:

num_list = [1,2,3,4,5,6,7,8,9]
l1 = list(filter(lambda x :  x==False, (map(lambda x : x>7, num_list))))

print(l1)

[False, False, False, False, False, False, False]

In [22]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

l1 = list(map(lambda x: x ** 3, filter(lambda x: x % 2 == 0, num_list)))

print(l1)

[8, 64, 216, 512]

In [27]:
def cube(x):
    return(x**3)

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

liar_liat = list(filter(cube, num_list))
print(liar_liat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
a=[1,2,3,4,5,6]
b=[]
c=[]

for i in a :
    if i % 2 == 0 :
        b.append(i)
     
    else :
        c.append(i)

print(b)
print(c)

[2, 4, 6]
[1, 3, 5]

In [11]:
l = []
for i in range(1,6):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25]

In [9]:
a=[1,2,3,4,5,6]
def odd(x):
    if x%2==1:
        return(x)
def even(x):
    if x%2==0:
        return(x)
b=list(filter(odd,a))
c=list(filter(even,a))



print(b)
print(c)

[1, 3, 5]
[2, 4, 6]

In [45]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [62]:
def difference(num1,num2):
    print(num1-num2)

difference(8,9)

1
-1

In [1]:
def num(x,y,**b):
    print(x,y)
    print(b)

num(2,3,b=12,c=13,d=14)

2 3
{'b': 12, 'c': 13, 'd': 14}

In [4]:
def add_numbers(**y): #everything after this point must be passed as keyword arguments.
    print( y)
    
add_numbers(x=3,y=30)

{'x': 3, 'y': 30}

In [22]:
def add_numbers(x,*y): # accept anly keyvalue pair 
    print( x, list(y))
add_numbers(10,20,10)

10 [20, 10]

In [1]:
a=[]
# b=[]
for i in range(1,21):
    if i%3!=0 :
        a.append(i)
    # else :
    #     b.append(i)

print(a)
# print(b)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

In [2]:
a={"c":3,"a":1,"b":2}
print(sorted(a))

['a', 'b', 'c']

In [3]:
set_a={1,2,3,4}
set_b={3,4,5,6}
set_c=set_a - set_b
print(set_c)

{1, 2}

In [4]:
list=[x*2 for x in range (6) if x%2 != 0]
print(list)

[2, 6, 10]

In [5]:
my_list=[10,20,30,40,50,60]
print(my_list[1:5:2])

[20, 40]

In [7]:
def num(a,b,c=10) :
    print(f"a={a}, b={b}, c={c}")

num(5,b=7)

a=5, b=7, c=10

In [14]:
def num(a=5,b) :
    print(a,b)

num(3,2)

SyntaxError: parameter without a default follows parameter with a default (465187941.py, line 1)

In [17]:
def amit(*abhi,team="mohit") :
    print(f"{team}:{abhi}")

amit("monika","sahil","rahul")
type(amit)

mohit:('monika', 'sahil', 'rahul')

function

In [1]:
# 2. 
list=["apple","banana","cherry","apple","banana"]
a=[]

for i in list : 
    if i not in a :
        a.append(i)

print(a)

['apple', 'banana', 'cherry']

In [2]:
# 3.
a=(1,2,3,4,5,6,7,8)

new=tuple(x for x in a if x%2==0)

print(new)

(2, 4, 6, 8)

In [4]:
# 4.
a=10
b=20
a,b=b,a
print(b,a)

10 20

In [3]:
# 5.
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.union(b)  # UNION
print(c)

c=a.intersection(b)
print(c)

c=a.difference(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [17]:
# 7.
marks={"aman":85,"riya":92,"karan":76,"neha":92}
k=max(marks.values())
for i,j in marks.items() :
    if j==k :
        print(i,":",j)

riya : 92
neha : 92

In [24]:
# 8.
from collections import Counter

str = "python is easy and python is powerful"
words= str.split()
print(*Counter(words).items())

('python', 2) ('is', 2) ('easy', 1) ('and', 1) ('powerful', 1)

In [33]:
# 9.
a="DataScience"
print(a[:4])
print(a[-1:-4:-1])
print(a[::2])

Data
ecn
DtSine

In [46]:
# 11.
l=[12,45,67,23,89,4]
print(min(l))
print(max(l))
print(sum(l))

4
89
240

In [17]:
# 12.
li= [2,4,6,8]

def num(x):
    if x%2 == 0 :
        return True
    else :
        return False

b2 = tuple(map(num, li))
print(b2)
print(all(b2))

(True, True, True, True)
True

In [18]:
# 13.
list=[x**2 for x in range(1,21) if x % 2 == 1]
print(list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [19]:
# 14.
from collections import Counter

str = "programming"
words= str.split()
print(*Counter(words).items())

('programming', 1)

In [20]:
# 17.
l1=[[1,2],[3,4],[5,6]]

l2=[element for list_id in l1 for element in list_id]
print(l2)

[1, 2, 3, 4, 5, 6]

In [21]:
# 18.
list=[10,25,30,45,50,60]

a=[x for x in list if x%3==0 and x%5==0]
print(a)

[30, 45, 60]

In [ ]:
print("New line added")